<form action="/map/createresult" method="POST">
    <p>
        <label for="name">장소명:</label>
        <input type="text" name="name"/>
    </p>
    
    <label for="lat">위도:</label>
    <input type="text" name="lat"/>
    <br/>
    
    <label for="lng">경도:</label>
    <input type="text" name="lng"/>
    <br/>
    
    <label for="description">설명:</label>
    <input type="text" name="description"/>
    <br/>
    
    <label for="address">주소:</label>
    <input type="text" name="address"/>
    <br/>
    
    <input type="submit" value="입력"/>
</form>